<span id="spritesheet-id" style="visibility:hidden"><%= @spritesheet.id %></span>
<span id="animation-id" style="visibility:hidden"><%= @animation_id %></span>

<div class="main">
    Mouse X: <span id='mouseX'></span><br>
    Mouse Y: <span id='mouseY'></span><br>
    Color: <span style="background-color:white" id='color'></span><br>

    <img id='sprite-image' src='<%= @image_url %>' />
</div>

<div class="right">

  <div class='frame-info'>

    <div class="canvas">
      <div class="sprite">
        <img id='sprite-movable' src='<%= @image_url %>' />
      </div>
    </div>

    <div class="parameters">
      x: <input type="number" id='x'><br>
      y: <input type="number" id='y'><br>
      width: <input type="number" id='width'><br>
      height: <input type="number" id='height'><br>
      offset_x: <input type="number" id='offX'><br>
      offset_y: <input type="number" id='offY'><br>
    </div>

  </div>


  <center>
    <button id='animate-button'>Animate!</button><br>
    <button id='delete-button'>Delete Frame</button><br>
    <button id='csv-button'>CSV</button><br>
    <div class='csv-frame'>
      <textarea><%= @frame_data if @frame_data %></textarea><br>
      <button id ='csv-import-button'>Import</button>
    </div>
    <button id='save-button'>Save</button><p>
    Frames
  </center>

  <ol id="frame-list"></ol>
</div>